html, body {
    width: 100%;
    height:100%;
  }


  
  body {
      text-align:center;
      background: linear-gradient(-45deg, #f1edec, #7e7b7c, #acadad, #838181);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  #container {
    width: 70vw;
    margin: 10vw auto;
    margin-top: 60px;
  }

@font-face {
    font-family: myFont;
    src: url(PS2P.ttf);
}

@font-face {
    font-family: digital;
    src: url(d7.ttf);
}

@font-face {
    font-family: contra;
    src: url(contra.ttf);
}

 h1 {
  align-items: top;
  margin-top: 0px;
  text-align: top;
  color:black;
  font-size: 3em;
  letter-spacing: 8px;
  font-family: 'myFont';
  font-weight: 400;
  /*Create overlap*/
  
  margin: 0;
  line-height: 0;
  /*Animation*/
  
  animation: glitch1 2.5s infinite;
}



/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}


.navbar {
    overflow: visible;
    background-color: #333;
    position: static; /* Set the navbar to fixed position */
    top: -80px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }



/* Change background on mouse-over */
.navbar a:hover {
    cursor:crosshair;
    background: #ddd;
    color: black;
  }

div.collapse.navbar-collapse, ul navbar.nav li.nav-item a.nav-link{

     
      color: rgb(253, 253, 253): ;
      font-family: "myFont", Times, serif;
      font-size: 20px;
    
}



p {
    font-size: 20px;
    padding: 10px;    
}
  
h2 {
    
    font-family: myFont;
    padding-top: 20px;
    padding-bottom: 0;
    max-height: 25 px;
    color:rgb(240, 240, 248);
    font-weight: bold;
}

h6{
font-family: contra;
font-size: 18px;
}
.visual {
  font-display: center;
}

.visualizations{
  padding-left: 75px;
}

.summary {
  font-display: center;
}

.visualizations img {
  height: 100px;
  width: 150px;
  background-color: rgba(255,255,225,.5);
  border-radius: 100%;
}

.left {
    float: left;
    padding: 0 10px 0 0;
    background-color: rgba(100,100,100,.5);
    border-radius: 5px;
    margin: 25px 15px 0 25px;
    width: 40%
}

.first {
  font-family: contra;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.second {
  margin-left: 10;
  font-family: contra;
  margin-top: 0;
  font-size: 15px;
}

.right {
  float: right;
  padding: 0 10px 0 0;
  background-color: rgba(100,100,100,.5);
  border-radius: 10px;
  margin: 25px 15px 0 25px;
  width: 30%
}

.together img {
  background-color: rgba(255,255,225,.5);
  border-radius: 25%;
  width: 115%
}

.together {
  margin-right: 25px;
}

@media (max-width: 600px) {
  .left {
      float: none;
  }

  .right {
      float: none;
  }
}

@media (max-width: 1500px) {
  .tabletable {
      width: 1000px;
  }
}

@media (max-height:1500px){
  .tabletable {
    height: 1000px;
  }
}

















